#Introduction {
  color: red;
}

.Section {
  color: blue !important;
}

#image {
  width: 500px;
}

nav {
  display: flex;
  justify-content: space-between;
}

#navbar {
  display: flex;
  list-style: none;
}

#navbar li {
  margin: 0 10px;
}
